@font-face {
    font-family: 'Pacifico';
    font-weight: 400;
    font-style: normal;
    src: url('./pacifico/Pacifico-Regular.woff') format('woff'),
        url('./pacifico/Pacifico-Regular.woff2') format('woff2');
}